[run]

branch = True

include =
    rhodecode/*

omit =
    rhodecode/lib/dbmigrate/*
    rhodecode/lib/paster_commands/*
    rhodecode/lib/_vendor/*

[report]

exclude_lines =
    raise NotImplementedError

