## -*- coding: utf-8 -*-
<%inherit file="/debug_style/index.html"/>

<%def name="breadcrumbs_links()">
    ${h.link_to(_('Style'), h.route_path('debug_style_home'))}
    &raquo;
    ${c.active}
</%def>


<%def name="real_main()">
<div class="box">
    <div class="title">
        ${self.breadcrumbs()}
    </div>

    <div class='sidebar-col-wrapper'>
      ${self.sidebar()}
      <div class="main-content">
        <h2>Emails</h2>
        <ul>
          % for elem in sorted(c.email_types.keys()):
               <li>
                    <a href="${request.route_path('debug_style_email', email_id=elem, _query={'user':c.rhodecode_user.username})}">${elem}</a>
                    |
                    <a href="${request.route_path('debug_style_email_plain_rendered', email_id=elem, _query={'user':c.rhodecode_user.username})}">plain rendered</a>
               </li>
          % endfor
        </ul>

      </div>  <!-- .main-content  -->
    </div>
  </div> <!-- .box -->
</%def>
